// typeface
@font-face {
	font-family: Titillum Book;
	src: url('../assets/fonts/TitilliumWeb-Regular.ttf'),
}

// opentype features
.case-sentitive {
	text-transform: uppercase;
	font-feature-settings: 'case' on;
	-moz-font-feature-settings: 'case'; 
	-webkit-font-feature-settings: 'case'; 
}

.standard-ligatures {
	font-variant-ligatures: common-ligatures;
	font-feature-settings: 'liga' on;
	-moz-font-feature-settings: 'liga';
	-webkit-font-feature-settings: 'liga';
}

// variables-font
$font-stack: Titillum Book, Arial, sans-serif;
$text-size: 22px;
$text-size-mobile: 18px;

// variables-grid
$line-height: 26px; //unit of measure_height
$line-height-mobile: 23px; //unit of measure_height

$max-pagewidth: 1600px;
$max-textwidth: 710px;

$img-padding-desktop: 70px;
$img-padding-mobile: 10px;

// variables-resize
$mobile: 590px;
$tablet: 1024px;

// colors
$text-color: #000000;
$link-color-1: #e3988d;
$link-color-2: #ff00ff;

// root-element
html, body {
	font-family: $font-stack !important;
	font-kerning: normal;
	word-spacing: 0.001em;

	::-webkit-scrollbar {
        display: none;
    }
}

body {
	margin: auto !important;
	max-width: $max-pagewidth;
	overflow-x: hidden;
}

h1, p, a, strong {
	font-size: $text-size !important;
	font-weight: normal !important;
	color: $text-color;
	margin-bottom: 0 !important;
	line-height: $line-height !important;
	display: block;
	// grid
	// box-shadow: inset 0 0 2px #000000;

	@media only screen and (max-width: $mobile) {
		font-size: $text-size-mobile !important;
		line-height: $line-height-mobile !important;
	}
}

a {
	color: $text-color !important;

	&:hover {
		text-decoration: none !important;
		color: $link-color-1 !important;
	}
}

// start-content
#page-container {
	position: relative;
	min-height: calc(100vh - #{$line-height}*2); /* Fallback for browsers that do not support Custom Properties */
	min-height: calc(var(--vh, 1vh) * 100 - #{$line-height}*2);
}

#content-wrap {

	@media only screen and (max-width: $mobile) {
		padding-bottom: $line-height*2; /* Footer height */
	}
}

header {
	width: 100%;
	max-width: $max-pagewidth;
	padding: $line-height !important;
	position: fixed;
	background-color: white;
	z-index: 99;
	//height: calc(100vh - #{$line-height}*2);

	@media only screen and (max-width: $mobile) {
		padding: $line-height*0.7 !important;
	}
}

.container-article {
	width: auto;
	margin: auto;
	padding: $line-height;
	
	@media only screen and (max-width: $mobile) {
		padding: $line-height*0.7 !important;
	}

	.article-title {
		padding-top: $line-height*2 !important;

		p {
			max-width: $max-textwidth;
			margin: auto;
		}

		a {
			display: inline-block;
		}
	}
}

.article-text {
	max-width: $max-textwidth;
	margin: auto;
	margin-top: $line-height;

	.link-inline {
		display: inline-block;
	}

	a {
		display: inline-block;
	}
}

.nav-sotto {
	padding-top: $line-height*4;
	position: fixed;
	
	@media only screen and (max-width: $mobile) {
		position: static;
		padding-top: 0;
	}

	p {
		margin-top: $line-height !important;
	}
}

// navigation
.nav {
	display: block !important;

	.nav-right {
		display: inline-block;

		a {
			padding-left: 15px;
		}
	}
}

.nav-top {

	a {
		display: inline-block;
		width: 50%;
		float:left;
	}
	.nav-right {
		width: 50%;
		text-align: right;

		a {
			width: auto;
			float: initial;
		}
	}
}

.nav-bottom {

	a {
		color: $text-color !important;
	}
	
	.current {
		color: $link-color-2;
	}
}

// custom-bootstrap
.row {
	margin: 0 -$img-padding-desktop !important;
	margin-top: -$img-padding-desktop !important;

	@media only screen and (max-width: $mobile) {
		margin: 0 -$img-padding-mobile !important;
		margin-top: -$img-padding-mobile !important;
	}

	.col-xl-4.col-md-6 {
		padding: $img-padding-desktop !important;
		display: flex;
		align-items: center; //vertical centering
		
		@media only screen and (max-width: $mobile) {
			padding: $img-padding-mobile !important;
		}

		.container-img {
			position: relative;

			.overlay {
				position: absolute;
				top: 0;
				bottom: 0;
				left: 0;
				right: 0;
				height: 100%;
				width: 100%;
				opacity: 0;
				transition: .3s ease;
				background-color: $link-color-1;
			}
		}
			  
		.container-img:hover .overlay {
			opacity: 1;
		}

		.text {
			color: black;
			font-size: 20px;
			position: absolute;
			top: 50%;
			left: 50%;
			-webkit-transform: translate(-50%, -50%);
			-ms-transform: translate(-50%, -50%);
			transform: translate(-50%, -50%);
			text-align: center;

			a {
				color: #F5F5F5 !important;
			}
		}

		img {
			width: 100%;
		}
	}
}

// newsletter
#mc_embed_signup{
	background:#fff; 
	clear:left; 
	font-family: $font-stack !important;
	line-height: $line-height !important;
	max-width: $max-textwidth;
	margin: auto;
	margin-top: $line-height*2;

	form {
		padding: 0 !important;

		h2 {
			font-weight: normal;
			margin: 0 !important;
			font-size: $text-size;

			@media only screen and (max-width: $mobile) {
				font-size: $text-size-mobile !important;
				line-height: $line-height-mobile !important;
			}
		}

		.mc-field-group {
			width: 100%;
			padding-bottom: 0 !important;
		}

		input {
			margin-top: 10px;
			font-size: $text-size !important;
			outline: 0;
			border: 2px solid black;
			border-radius: 0px;
			padding: 5px 0 !important;
			text-indent: 1% !important;

			@media only screen and (max-width: $mobile) {
				font-size: $text-size-mobile !important;
				line-height: $line-height-mobile !important;
				border: 1px solid black;
			}
		}

		.required.email.mce_inline_error {
			outline: 0;
			border: 2px solid black !important;
			border-radius: 0px;
			padding: 5px 0 !important;

			@media only screen and (max-width: $mobile) {
				border: 1px solid black !important;
			}
		}

		div.mce_inline_error {
			font-size: $text-size !important;
			margin-top: 10px !important;
			padding: 0!important;
			color: red !important;

			@media only screen and (max-width: $mobile) {
				font-size: $text-size-mobile !important;
				line-height: $line-height-mobile !important;
			}
		}

		.clear {
			margin: 0 !important;
			padding: 0 !important;

			.response {
				margin: 0 !important;
				padding: 0 !important;
				font-size: $text-size !important;
				font-weight: normal !important;
				width: 100%;

				@media only screen and (max-width: $mobile) {
					font-size: $text-size-mobile !important;
					line-height: $line-height-mobile !important;
				}
			}
			#mce-success-response {
				color: $link-color-1 !important;
			}
		}

		.button {
			color: $text-color;
			border-radius: 0px;
			background-color: white;
			margin: 0;
			border-bottom: 2px solid black;
			transition: none;

			@media only screen and (max-width: $mobile) {
				font-size: $text-size-mobile !important;
				line-height: $line-height-mobile !important;
				border-bottom: 1px solid black;
				height: 29px;
			}
			
		}
		.button:hover {
			background-color: white;
			border-bottom: none;
		}
	}
}

.article-title.about {
	padding-top: 100px !important;

	@media only screen and (max-width: $mobile) {
		padding-top: $line-height*2 !important;
	}
}

.article-text.about {
	margin-top: $line-height*2;
}


